/CollectionDemo.class
/CollectionInterfaceDemo.class
/CollectionWithListInterfaceDemo.class
/CollectionWithListInterfaceDemo$1.class
/Stud.class
/CollectionWithListInterfaceDemo$2.class
/SetCollectionDemo.class
/MapCollectionDemo.class
